body{
    background:linear-gradient(360deg,#111133, #114455);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    margin: 0;
    font-size: 2rem;
}

#driverForm{
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background:linear-gradient(#55ab88,#116766);
    width: 500px;
    height: 80%;
    text-align: center;
    border-radius: 6%;
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.3), 0 6px 6px rgba(0,0,0,0.3);
}

#driverForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
 
img{
    width: 40%;
    height: auto;
    border-radius: 400%;
    margin-top: 5%;
    align-items: center;
    margin-bottom: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0,0,0,0.3);   
}

#subButSignUp{
    border-style:hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.6rem;
    background: linear-gradient(360deg, #116766, #55ab88);
    color: rgb(251, 235, 235);
    padding: 10px;
    border-radius: 15%;
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.2), 0 6px 6px rgba(0,0,0,0.3);
}
#subButSignUp:hover {
    background-color: darkblue;
    cursor: pointer;
}
#subButSignUp:active {
    background-color: black;
}

.input_box{
    outline: 0;
    border: none;
    border-bottom: 2px solid;
    border-color: #55ab88;
    color: white;
    width: 100%;
    padding: 3%;
    font-size: 80%;
    background-color: rgba(0, 0, 0, 0.1);
}

label {
    text-align: center;
}

.lab{
    text-align: center;
    color: rgb(251, 235, 235);
}

select option{
    color: #111133;
}