.flex-container {
    display: flex;
    margin-bottom: 2%;
    
}

.flex-child {
    color: #114455;
    background-color: #55ab88;
    flex: 1;
    border: 2px solid white;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.driver-box{
    background-color: cyan;
    margin-bottom: 5%;
    text-align-last: center;
    border: 1px groove gray;
}
body{
    background-color:#111133 ;
}