.flex-container {
    display: flex;
    margin-bottom: 2%;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
}

.driver-box{
    background-color: cyan;
    margin-bottom: 5%;
    text-align-last: center;
    border: 1px groove gray;
}
body{
    background-color: whitesmoke;
}