body{
    background:linear-gradient(360deg,#111133, #114455);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-size: 3vw;
}

#logInForm{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background:linear-gradient(#55ab88,#116766);
    width: 300px;
    height: 100%;
    text-align: center;
    border-radius: 6%;
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.3), 0 6px 6px rgba(0,0,0,0.3);
}

label {
    text-align: center;
    tab-size: 4;
}

.lab{
    text-align: center;
    color: rgb(251, 235, 235);
}

#subBut{
    border-style:hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 16px;
    background: linear-gradient(360deg, #116766, #55ab88);
    color: rgb(251, 235, 235);
    padding: 10px;
    border-radius: 15%;
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.2), 0 6px 6px rgba(0,0,0,0.3);
}
#subBut:hover {
    background-color: darkblue;
    cursor: pointer;
}
#subBut:active {
    background-color: black;
}

.input_box{
    
    outline: 0;
    border: none;
    border-bottom: 2px solid;
    border-color: #55ab88;
    color: white;
    width: 100%;
    padding: 3%;
    font-size: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}

.signUp{
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    padding: 10px;
    border-radius: 5%;
    background: linear-gradient(360deg, #116766, #55ab88);
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.2), 0 6px 6px rgba(0,0,0,0.3);
}


.ref{
    text-decoration: none;
    color: rgb(251, 235, 235);
}
/*
#111133 
#114455
#116766
#348878
#55ab88
*/
.input_box::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: width 0.2s ease;
}

img{
    width: 40%;
    height: auto;
    border-radius: 400%;
    margin-top: 5%;
    align-items: center;
    margin-bottom: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0,0,0,0.3);   
}