body{
    background-color:#111133 ;
    color: #55ab88;
    font-size: larger;
}
input{
    width: 500px;
    height: 30px;
}
button{
    background-color: aquamarine;
    text-align: center;
    font-size: x-large;
}