body{
    background:linear-gradient(90deg,#111133, #114455);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: linear-gradient(180deg, black, #114455);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0,0,0,0.25);
    color: #55ab88;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap:wrap;
    width: 100%;
    top: 0;
    opacity: 0.95;
    position: sticky;
  }
  
  .header img{
    border-radius: 20%;
    padding: 1%;
    width: 14%;
  }
  .header img:hover{
    transform: rotate(360deg);
    transition-duration: .8s;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    box-shadow: 10px 10px 20px rgba(84, 186, 99, 0.08), 6px 6px 6px rgba(84, 186, 99, 0.002);
    transition: all 0.3s ease-out;
  }
  /**
  * This is NOT the navbar, this is the navbar list items.
  *
  **/
  .nav {
    flex:1 1 auto;
    list-style: none;
    margin: 5%;
    display: flex;
    justify-content:space-between;
  }
  
  .nav a:hover {
    color: #c5cae9;
    transform:scale(1.05);
  }
  .nav a{
    color:#75d9b1;
  } 
#recent-trips{
    color: aliceblue;
    flex-grow: 1;
    background-color: rgba(250, 235, 215, 0.152);
    border-top-left-radius:5%;
    border-top-right-radius: 5%;
}
#recent-trips ul{
    list-style: none;
}
#recent-trips ul li{
    margin: 2%;
}