 body{
     display: flex; 
     flex-direction: column;
    min-height: 100vh;
}

#recent-trips{
    color: aliceblue;
    flex-grow: 1;
    background-color: rgba(250, 235, 215, 0.152);
    border-top-left-radius:5%;
    border-top-right-radius: 5%;
}
#recent-trips ul{
    list-style: none;
    
}
#recent-trips ul li{
    margin: 2%;
}
#recent-trips ul li:hover{
  transform: scale(1.1);
  color: lightskyblue;
}
#recent-trips label{
  font-size: x-large;
}