body{
    background:linear-gradient(360deg,#111133, #114455);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    margin: 0;
    font-size: 4.5vw;
}


#signUpForm{
    margin: 15%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background:linear-gradient(#55ab88,#116766);
    width: 50%;
    height: 100%;
    text-align: center;
    border-radius: 6%;
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.3), 0 6px 6px rgba(0,0,0,0.3);
}


img{
    width: 40%;
    height: auto;
    border-radius: 400%;
    margin-top: 5%;
    align-items: center;
    margin-bottom: 10%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0,0,0,0.3);   
}

#subBut{
    border-style:hidden;
    margin-top: 5%;
    margin-bottom: 5%;
    background: linear-gradient(360deg, #116766, #55ab88);
    color: rgb(251, 235, 235);
    font-size: 16px;
    padding: 10px;
    border-radius: 15%;
    box-shadow: 0 10px 20px rgba(161, 161, 161, 0.2), 0 6px 6px rgba(0,0,0,0.3);
}
#subBut:hover {
    background-color: darkblue;
    cursor: pointer;
}
#subBut:active {
    background-color: black;
}

