.navbar{
    height:fit-content;
}

.nav a {
  color: #FFF;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-out;
}

.nav a:hover {
  color: #c5cae9;
  transform:scale(1.05);

}
img:hover{
    
    transform: rotate(360deg);
    transition-duration: .8s;
}
.nav a{
  color:#75d9b1;
}

.nav {
    flex:1 1 auto;
  list-style: none;
  margin: 5%;
  padding: 3%;
  display: flex;
  justify-content:space-between;
}

.flex{
    display: flex;
}
.header {
    background: linear-gradient(180deg, black, rgba(0, 0, 0, 0.178));
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0,0,0,0.25);
    color: #55ab88;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
  }
  body{
    background:linear-gradient(360deg,#111133, #114455);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    margin: 0;
  }
  img{
    border-radius: 20%;
    padding: 1%;
    height:8ex;
    
  }